## Finding Triangle within SQL--

SELECT 
    CASE
        WHEN a + b > c AND a + c > b AND b + c > a THEN 'Yes' -- If the sum of any two sides is greater than the third side, it forms a triangle
        ELSE 'No'
    END AS is_triangle
FROM 
    triangle;

# Multiple Case Statements demo query --

select 
case when num_check != 0 then num_check else NULL end as num
from 
(
select num,
case when count(*) > 1 then 0 else num end as num_check
from MyNumbers
group by num
order by num_check desc
limit 1
) as a