https://leetcode.com/problems/swap-salary/

Write a solution to swap all 'f' and 'm' values (i.e., change all 'f' values to 'm' and vice versa) with a single update statement and no intermediate temporary tables.

Note that you must write a single update statement, do not write any select statement for this problem.

The result format is in the following example.

update salary
set sex =
case
when sex = 'm' then 'f'
when sex = 'f' then 'm'
else sex
end;

updated_salary = salary.withColumn("sex", 
                                    when(salary["sex"] == "m", "f")
                                    .when(salary["sex"] == "f", "m")
                                    .otherwise(salary["sex"]))