In [8]:
import pandas as pd
import numpy as np

In [42]:
data = [[1, 'Joe', 70000, 3], [2, 'Henry', 80000, 4], [3, 'Sam', 60000, None], [4, 'Max', 90000, None]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'managerId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'managerId':'Int64'})

In [47]:
df = pd.DataFrame(columns=["Employee"])
df1 = df2 = employee
result = pd.merge(df1, df2, left_on='managerId', right_on='id', how='inner')

In [49]:
result

   id_x name_x  salary_x  managerId_x  id_y name_y  salary_y  managerId_y
0     1    Joe     70000            3     3    Sam     60000         <NA>
1     2  Henry     80000            4     4    Max     90000         <NA>

In [52]:
for i in range(0, len(result)):
    if result.iloc[i,2] > result.iloc[i,6]:
        print(result.iloc[i,1])
        df.loc[i] = employee.iloc[i,1]
df

Joe

  Employee
0      Joe

In [48]:
result

   id_x name_x  salary_x  managerId_x  id_y name_y  salary_y  managerId_y
0     1    Joe     70000            3     3    Sam     60000         <NA>
1     2  Henry     80000            4     4    Max     90000         <NA>

In [11]:
employee['managerId'].fillna(value=-1, inplace=True)

In [30]:
df = pd.DataFrame(columns=["Employee"])
for i in range(0,len(employee)):
        if employee.iloc[i,3] > 0:
                if employee.loc[(employee.iloc[i,3]-1),"salary"] < employee.iloc[i,2]:
                        df.loc[i] = employee.iloc[i,1]

In [36]:
employee
df.index

RangeIndex(start=0, stop=1, step=1)

In [17]:
employee.loc[1,"salary"]

80000

In [37]:
import pandas as pd

employee = {
    'id': [1, 3, 2],
    'name': ['Mark', 'Jack', 'Alan'],
    'salary': [40000, 30000, 20000],
    'managerId': [3, 2, None]  # Assuming 'null' means a missing value
}

employee = pd.DataFrame(employee)

In [41]:
df1 = df2 = employee
df2

   id  name  salary  managerId
0   1  Mark   40000        3.0
1   3  Jack   30000        2.0
2   2  Alan   20000        NaN

In [40]:
merge_df = df1.merge(df2, on=["personId"], how='left')

KeyError: 'personId'